snippet log "console.log"
console.log($1);
endsnippet

snippet func "function"
function($1){
  $2
}
endsnippet

snippet its "jasmine it"
it('should $1', function(){
  $2
});
endsnippet

snippet des "jasmine describe"
it('should $1', function(){
  $2
});
endsnippet

snippet bef "jasmine beforeEach"
beforeEach(function(){
  $1
});
endsnippet

snippet exp "jasmine expect"
expect($1).toBe($2);
endsnippet

snippet // "angular delimiter"
////////////
endsnippet
